.vscode
*.code-workspace

*.pyc
*.egg-info
__pycache__

/*
!/.github
!/asyncio_task_queues
!/docs
!/tests
!/.gitignore
!/docker.sh
!/Dockerfile
!/docs.sh
!/mkdocs.yml
!/publish.sh
!/pyproject.toml
!/README.md
!/setup.py
!/tests.sh
