.vscode
*.code-workspace

*.pyc
*.egg-info

/*
!/.github
!/asyncio_task_queues
!/docs
!/tests
!/.gitignore
!/dev.Dockerfile
!/dev.entrypoint.sh
!/dev.sh
!/mkdocs.yml
!/pyproject.toml
!/README.md
!/setup.py
