name: docs

on:
  push:
    branches:
      - main

permissions:
  pages: write

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  "deploy-docs":
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: install dependencies
        run: pip install ".[dev]"

      - name: build docs
        run: ./docs.sh

      - name: upload pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: site

      - name: deploy pages
        uses: actions/deploy-pages@v1
